<ul>
    <li class="navEbene_1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="navEbene_2">@Html.ActionLink("Über uns", "about", "home")</li>
    <li class="navEbene_2">@Html.ActionLink("Impressum", "impressum", "home")</li>

    <li class="navEbene_1">@Html.ActionLink("Campingplatz", "index", "campingplace")</li>
    <li class="navEbene_2">@Html.ActionLink("Infos", "informations", "campingplace")</li>
    <li class="navEbene_2">@Html.ActionLink("Preise", "prices", "campingplace")</li>
    <li class="navEbene_2">@Html.ActionLink("Bilder", "pictures", "campingplace")</li>

    <li class="navEbene_1">@Html.ActionLink("Reservierung", "index", "reservation")</li>
    <li class="navEbene_2">@Html.ActionLink("Anfrage", "request", "reservation")</li>

    <li class="navEbene_1">@Html.ActionLink("Login", "login", "admin")</li>
    <li class="navEbene_1">@Html.ActionLink("Registrierung", "registration", "admin")</li>

    <li class="navEbene_1">@Html.ActionLink("Admin", "admin", "admin")</li>
    <li class="navEbene_2">@Html.ActionLink("Reservierungsanfragen", "reservationrequests", "admin")</li>
    <li class="navEbene_2">@Html.ActionLink("Registrierte Benutzer", "registeredusers", "admin")</li>
</ul>
